<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <header>
            <h1>
                NotesApp	
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="/apropos">A propos</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusantium optio ab deserunt eaque in, quae, nulla illum pariatur, fugiat nesciunt eius ipsam! Atque nesciunt dolorem possimus non! Sit sed molestias aut. Eligendi fugiat eos aperiam placeat laboriosam assumenda quasi doloribus laudantium delectus, laborum est consequatur iusto magni ad autem!</p>
        </section>
    </div>
</body>
</html>