<header>
    <p>
        Heure actuelle : <%= heure %>
    </p>
    <h1>
        NotesApp - Bienvenue, <%= nom %> <!-- Affiche le nom dynamiquement -->
    </h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/apropos">À propos</a></li>
        </ul>
    </nav>
</header>
